@import 'tailwindcss';

@theme {
  --color-main: #101828;
  --color-gray: #8d929a;
  --color-gray-light: #dadde1;
  --color-badges: #f2f4f7;
  --color-inputs: #f7f7f7;
  --color-white: #fff;
  --color-button: #3470ff;
  --color-button-hover: #0b44cd;
  --font-family: 'Manrope', sans-serif;
  --font-second-family: 'Inter', sans-serif;
}

:root {
  --background: var(--color-white);
  --foreground: var(--color-navy);

  --font-family: 'Manrope', sans-serif;
  --second-family: 'Inter', sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--second-family), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family), sans-serif;
  font-weight: 600;
}
